<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button ><mat-icon>movie</mat-icon>AngularMovies</a>
    </span>
    <div>
        <a mat-button routerLink="movie/filter">
        <mat-icon>search</mat-icon>Search Movie
        </a>
    </div>
    <div>
        <a mat-button routerLink="genres">Genres</a>
    </div>
    <div>
        <a mat-button routerLink="actors">Actors</a>
    </div>
    <div>
        <a mat-button routerLink="theater">Theater</a>
    </div>
</mat-toolbar>
