<h2>Search Movie</h2>
<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>select One</mat-label>
        <mat-select formControlName="genreId">
            <mat-option *ngFor="let genre of genres" [value]="genre.id">{{genre.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <mat-checkbox formControlName="upcommingReleases">Upcomming Releases</mat-checkbox>
    </div>
    <div>
        <mat-checkbox formControlName="inTheater">In Theater</mat-checkbox>
    </div>
    <div>
        <button mat-flat-button  color="warn" (click)="ClearForm()">Clear</button>
    </div>

</form>
<app-movies-list [movies] = "movies"></app-movies-list>